extends layout

block body
  div(ng-controller='AppCtrl')
    .container
      h1 My Free Chat
          .row
            .col-md-6
              h3 Messages
              |     
              .overflowableMsg
                p(ng-repeat='message in messages', ng-class="{alert: message.user == 'chatroom'}")
                  | {{message.user}}: {{message.text}}
            |   
            .col-md-6
              h3 Users
              |     
              .overflowableUser
                li(ng-repeat='user in users track by $index')
                  {{user}} 
                  //- |
                  //- a(href='#', ng-repeat='userID in id track by $index', ng-class="{'active':userID==selectedUser}", ng-click="seletedUser(userID);") PM{{i}}
            |   
            .col-md-6.clr
              form(ng-submit='sendMessage()')
                .messageInput
                  p
                    | Message:
                    input(class='form-control', placeholder="Enter Text...", ng-model='message')
                    |  
                    |     
                    input(type='submit', value='Send', class="btn btn-success btn-xs")
            .col-md-6.clr
              .messageInput    
                p
                  | Your current user name is {{name}}
                form(ng-submit='changeName()')
                  input(ng-model='newName', class='form-control', placeholder="Change Username")
                  |         
                  input(type='submit', value='Change Name', class="btn btn-warning btn-xs")      
            //- .row
            //-   .col-md-12
            //-     .col-md-8.message-box
            //-       h2 Messages Sent By users
            //-       .message-container
            //-         ul.list-group
            //-           li.list-group-item(ng-repeat='pm in privatemsg')
            //-             | {{ pm.name }} says: {{ pm.msg }}
            //-           div.showAlert.alert.alert-warning(ng-show='pm.lenght == 0')
            //-             | No messages for you.
            //-       .message-sender
            //-         textarea.form-control(ng-model='pm', ng-keypress='sendPm($event)')

  script(src='js/lib/angular/angular.js')
  script(src='/socket.io/socket.io.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
